<mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Weather Details
            </mat-panel-title>
            <mat-panel-description>
                Details like location, Temp etc...
                <!-- <mat-icon>account_circle</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <p class="text-left">
                Location : {{weatherData ? weatherData.name : 'No Data'}}
            </p>
            <p class="text-left">
                Current weather description: {{weatherData.weather ? weatherData.weather[0].description : 'No Data'}}
            </p>
            <p class="text-left">
                Current temperature: {{weatherData.main ? weatherData.main.temp : 'No Data'}} °C
            </p>
            <p class="text-left">
                Today's high temperature: {{weatherData.main ? weatherData.main.temp_max : 'No Data'}} °C
            </p>
            <p class="text-left">
                Today's low temperature: {{weatherData.main ? weatherData.main.temp_min : 'No Data'}} °C
            </p>
        </div>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Additional Details
            </mat-panel-title>
            <mat-panel-description>
                Details like Humidity, Pressure etc...
                <!-- <mat-icon>map</mat-icon> -->
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <p class="text-left">
                Wind Speed : {{weatherData.main ? weatherData.main.humidity : 'No Data'}} km/h
            </p>
            <p class="text-left">
                Humidity : {{weatherData.main ? weatherData.main.pressure: 'No Data'}} %
            </p>
            <p class="text-left">
                Pressure : {{weatherData.wind ? weatherData.wind.speed : 'No Data'}}
            </p>
            <p class="text-left">
                Sunrise Time : {{sunrise ? sunrise : 'No Data'}}
            </p>
            <p class="text-left">
                Sunset Time : {{sunset ? sunset : 'No Data'}}
            </p>
        </div>

        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>